<%- include("header") -%>

  <p class="lead">Current balance is <%= currentBalance %></p>
  <p>Total income received for the year is <%= totalIncome %></p>
  <p>Total expenses for the year are <%= totalExpenses %></p>

  <hr>

<%- include("footer") -%>
