<%- include("header") -%>

<div class="container">
  <h2>Current balance is <%= currentBalance %></h2>
  <h3>Total income received for the year is <%= totalIncome %></h3>
  <h3>Total expenses for the year are <%= totalExpenses %></h3>

  <hr>
</div>


<%- include("footer") -%>
