{{>header}}

<div>

    <form action={{form_action}} method=post>
        <h3>{{form_type}} Form</h3>

        <div class="form-group">
          <label>Date</label>
          <input class="form-control" type="date" name="date" value={{record.date}}>
        </div>

        <div class="form-group">
            <label>Type</label>
            <input class="form-control" name="type" list="type" value={{record.type}}>
            <datalist id="type" required>
                <option value="Income"></option>
                <option value="Expense" selected></option>
            </datalist>
        </div>

        <div class="form-group">
            <label>Payment Type</label>
            <input class="form-control" name="payment_type" list="payment_type" value={{record.payment_type}}>
            <datalist id="payment_type" required>
                <option value="Select a payment type..."></option>
                <option value="Cash"></option>
                <option value="Credit Card"></option>
                <option value="Debit Card"></option>
                <option value="Account Transfer"></option>
            </datalist>
        </div>


        <div>
            <label>Category</label>
            <input class="form-control" name="category" list="category" value={{record.category}}>
            <datalist id="category" required>
                <option value="Select a category..."></option>
                {{!-- options added by categories.js --}}
            </datalist>
        </div>

        <div class="form-group">
            <label>Description</label>
            <input class="form-control" type="text" name="description" value={{record.description}}>
        </div>

        <div>
            <label>Amount</label>
            <input class="form-control" type="number" name="amount" step=0.01 min="0" value={{record.amount}} required>
        </div>

        <button type="Submit" class="btn btn-success">Submit</button>
    </form>
</div>

{{>footer}}
